node_modules
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
.dockerignore
.next
out
.cache
.yarn/cache
.yarn/unplugged
.pnp
.pnp.js
dist
build
coverage
.turbo
.DS_Store
.idea
.vscode
*.log
.nyc_output
